{% extends 'app/base.html.twig' %}

{% block page_content %}
    <h1>Campaign edit</h1>



    <ul>
        <li>
            <a href="{{ path('campaign_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
