{% extends 'app/base.html.twig' %}

{% block page_content %}
    <h1>Campaign creation</h1>

    <ul>
        <li>
            <a href="{{ path('campaign_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock page_content %}
